


<table class="table table-bordered"> 
    @foreach (var item in ViewBag.data)
    {
        <tr>
            <td> @item.postId </td>
            <td> @item.id </td>
            <td> @item.name </td>
            <td> @item.email </td>
            <td> @item.body </td>

        </tr>
    }
</table>